@font-face {
  font-family: "Enfantine Web Bold";
  src: url("./fonts/Enfantine-Web-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet MS";
  src: url("./fonts/trebuc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
  --bg-color: #222128;
  --body-color: #e8e8e8;
  --heading-font: "Enfantine Web Bold", monospace;
  --heading-color: #caffbf;
  --link-font: "Trebuchet MS", sans-serif;
  --link-color-normal: #e8e8e8;
  --link-border-color-normal: #464646;
  --link-color-hover: #fdffb6;
  --link-border-color-hover: #fdffb6;
  --datetime-font: "Enfantine Web Bold", monospace;
  --datetime-color: #ffd6a5;
  --unemphasise-color: #fff8f080;
}

h4 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 1.563em;
  font-weight: 500;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
}

a {
  text-decoration: none;
  color: var(--link-color-normal);
  font-family: var(--link-font);
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border: 1px solid var(--link-border-color-normal);
  border-radius: 0.25rem;
  transform: translateX(0);
}

a:hover {
  text-decoration: none;
  color: var(--link-color-hover);
  border: 1px solid var(--link-border-color-hover);
  transform: translateX(0.25rem);
}

.unemphasise {
  color: var(--unemphasise-color);
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.65;
  min-height: 100vh;
}

main {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

section > div {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

aside {
  text-align: center;
  font-family: var(--datetime-font);
  color: var(--datetime-color);
  font-size: 1.25rem;
}
